node_modules
node/stdmod/out.v30
node/stdmod/_InternalDB-J01.bin
*.~1~
elpa
.ehist
emacs/basic/.emacs.d/eshell/history
emacs/basic/.emacs.d/ac-comphist.dat
*.exe
target
*.lock
lang/cpp/Streams/defines.cpp
lang/cpp/Streams/tmp.cpp
lang/rs/.cargo/config
